<script type="text/x-handlebars-template" id="accountinfo">

<div class="container" >
  <h1 class="page-header">{{pt "accountinfo.title"}}</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="" class="avatar img-circle img-thumbnail" alt="">
        <h6>{{pt "accountinfo.loadphoto"}}h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

      <h3>{{pt "accountinfo.accountinfo"}}</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">{{pt "accountinfo.fname"}}</label>
          <div class="col-lg-8">
            <input id="name" class="form-control"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{pt "accountinfo.fname"}}</label>
          <div class="col-lg-8">
            <input id="fname" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{pt "accountinfo.company"}}</label>
          <div class="col-lg-8">
            <input id="company" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">{{pt "accountinfo.email"}}</label>
          <div class="col-lg-8">
            <input id="email" class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">{{pt "accountinfo.username"}}</label>
          <div class="col-md-8">
            <input id="user" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">{{pt "accountinfo.pass"}}</label>
          <div class="col-md-8">
            <input id="pass" class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">{{pt "accountinfo.passconfirm"}}</label>
          <div class="col-md-8">
            <input id="cpass" class="form-control" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="button" id="save"
              class="btn btn-primary">{{pt "button.save"}}</button>
            <button type="reset" id="delete"
              class="btn btn-danger">{{pt "button.delete"}}</button>
          </div>
        </div>
     </form>
    </div>
  </div>
</div>

</script>
