<script type="text/x-handlebars-template" id="addpost-template">

<div id="messages"></div>
<div>
  <button id="closeadd" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#addpost-tab" aria-controls="addpost-tab" role="tab"
    data-toggle="tab" class="nolink">Post</a>
  </li>
  <li role="presentation">
    <a href="#addimg-tab" aria-controls="addimg-tab" role="tab"
    data-toggle="tab" class="nolink">Image</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="addpost-tab">
    <form id="addpost-form" class="addpost-form" >
      <div class="row">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-picture">
              <span class="sn-pic sn-w40 {{bucket}} no-after-check">
                {{#if image}}
                  <img class="circle" src="storage/{{image_path}}">
                {{else}}
                  <img class="circle" src="storage/img/semitki.png">
                {{/if}}
              </span>
            </div>
            <div class="row-content">
              <h6 class="list-group-item-heading">{{username}}</h6>
              <p class="list-group-item-text">{{currentDate}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding-bottom: 5px;">
        <div class="col-sm-6">
          <div class="form-group" id="campaignSelector" >
            <div class="col-sm-3">
              <label for="campaignSelectorBox">{{pt "campaign.title"}}</label>
            </div>
            <div class="col-sm-9">
              <select id="campaignSelectorBox" style="width:100%;"></select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" id="phaseSelector" >
            <div class="col-sm-2">
              <label for="phaseSelectorBox">{{pt "phase.title"}}</label>
            </div>
            <div class="col-sm-10">
              <select id="phaseSelectorBox" style="width:100%;" disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" style="padding-bottom: 5px;margin-bottom:0px">
        <textarea class="form-control" rows="4" id="postxt"
          placeholder="{{pt "addpost.postplaceholder"}}"></textarea>
      </div>

      <div class="row">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">{{pt "addpost.photolinks"}}</legend>
          <div class="col-sm-9" style="">
            <div class="input-group" style="display:flex;">
              <input type="url" class="form-control" id="urlTarget"
              placeholder="{{pt "addpost.urlplaceholder"}}" />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="radio">
              <label>
                <input type="radio" name="linkType" id="imgUrl" value="img" />
                <span  class="circle"></span><span class="check"></span>
                {{pt "generics.image"}}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="linkType" id="lnkUrl" value="lnk" />
                <span  class="circle"></span><span class="check"></span>
                {{pt "generics.link"}}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">{{pt "generics.spread"}}</legend>
          <div class="col-sm-6">
            <div class="form-inline">
              <div class="row">
                <div class="col-sm-2" style="padding-right:0px">
                  <img src="img/like.png" class="img32">
                </div>
                <div class="col-sm-10">
                  <select id="lkgroups" multiple="multiple" style="width:100%;"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-inline">
              <div class="row">
                <div class="col-sm-2" style="padding-right:0px">
                  <img src="img/share.png"  class="img24">
                </div>
                <div class="col-sm-10">
                  <select id="rsgroups" multiple="multiple" style="width:100%;"></select>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">{{pt "scheduler.title"}}</legend>
          <div class="col-sm-6" style="">
            <div class="input-group" id="schedule-post">
              <input type="text" class="form-control" id="scheduleFor"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-6" style="">
            <div class="btn-group dropup pull-right">
              <button type="button" class="btn btn-primary btn-raised"
                id="publish-btn">{{pt "button.schedule"}}</button>
              <button class="btn btn-primary btn-raised dropdown-toggle" type="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><span class="caret"></span>
                <span class="sr-only">Toggle dropdown</span></button>
              <ul class="dropdown-menu dropdown-info" aria-labeledby="publish-btn">
                <li><a href="#" id="schedule-enable" class="btn btn-primary btn-raised"
                role="button">{{pt "button.schedule"}}</a></li>
                <li><a href="#" id="publish-enable" class="btn btn-primary btn-raised"
                role="button">{{pt "button.publishnow"}}</a></li>
              </ul>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>

  <div role="tabpanel" class="tab-pane" id="addimg-tab">Algo nuevo</div>
</div>

</script>
