<script type="text/x-handlebars-template" id="grouppedaccounts">

  <ul class="breadcrumb">
    <li><a href="">Home</a></li>
      <li class="active">Accounts Related</li>
  </ul>

   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Groupped Accounts</h3>
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="form-group">
                     <div class="col-sm-6">

                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <div class="row">
                                <div class="col-xs-6">
                                  <h3 class="panel-title">Accounts related to:  
                                  </h3>
                                </div>
                                <div class="col-xs-6">
                                  <select class="form-control" id="group">
                                    <option></option>
                                    {{#each groups}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                  </select>
                                </div>
                              </div>
                           </div>
                           <div class="panel-body" id="related">
                           </div>
                        </div>
                     </div>

                     <div class="col-sm-6">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h3 class="panel-title">Accounts Free</h3>
                           </div>
                           <div class="panel-body">
                              <table class="table table-striped table-bordered table-list" id='table-for-related'>
                                 <tbody class="connectedSortable">
                                    <tr>
                                       <th>Network</th>
                                       <th>Accounts</th>
                                    </tr>
                                    {{#each free}}
                                    <tr id = "{{id}}">
                                       <td>
                                          {{bucket}}
                                       </td>
                                       <td>
                                          {{username}}
                                       </td>
                                    </tr>
                                    {{/each}}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="container">
                     <div class="clearfix pull-right">
                        <button class="btn btn-default" type="button" id="button_step1_back">Back</button>
                        <button class="btn btn-primary" type="button" id="button_step1_next">Next</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</script>
