<script type="x-handlebars-template" id="side-menu-template">

  <li>
    <button type="button" class="menu-toggle"
    data-toggle="collapse">
      <span class="sr-only">{{pt "generics.toggle_navigation"}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </li>
  <li>
    <a href="#" type="button"
    role="button" id="campaigns">{{pt "campaign.title"}}</a>
  </li>
  <li>
    <a href="#" type="button"
    role="button" id="phases">{{pt "phase.title"}}</a></li>
  <li>
    <a href="#" type="button"
    role="button" id="groups">{{pt "group.title"}}</a></li>
  <li>
    <a href="#" type="button"
    role="button" id="grouppedaccounts">{{pt "sidemenu.related"}}</a></li>
  <li>
    <a href="#" type="button"
    role="button" id="user">{{pt "user.title"}}</a></li>
  <li>
    <a href="#" type="button" class="btn btn-link" id="logout"
    role="button">{{pt "sidemenu.logout"}}</a></li>

</script>
