<script type="text/x-handlebars-template" id="user-template">


<div class="container">
  <ul class="breadcrumb">
    <li><a href="#scheduler">{{pt "scheduler.title"}}</a></li>
    <li class="active">{{pt "user.title"}}</li>
  </ul>


  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="list-group crud_item" id="phases_items">
      {{#each users}}
        <a class="list-group-item item" id="{{id}}" style="background: #eee"  >
            <div class="item_buttons hideme crud_buttons">
              <button class="btn btn-default btn-xs item_button_remove"
              data-toggle="modal" data-target="#dialog-crud"><span
              class="glyphicon glyphicon-trash"></span>{{pt "button.delete"}}</button>
              <button class="btn btn-default btn-xs item_button_edit"
              data-toggle="modal" data-target="#dialog-crud"><span
              class="glyphicon glyphicon-pencil"></span>{{pt "button.edit"}}</button>
          </div>
          <h4 class="list-group-item-heading">{{username}}</h4>
        </a>
      {{else}}
       <div class="alert alert-warning" role="alert">{{pt "msg.nodata"}}</div>
      {{/each}}
      </div>
        <div class="row">
          <div class="col-md-12" id="messages"></div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#" class="btn btn-default btn-fab btn-add" data-status="active"
          data-toggle="modal" data-target="#dialog-crud"><i class="material-icons">add_circle</i></a></li>
      </ul>
      </div>

    </div>
  </div>
</div>
</script>
